#main
  background-color: white

svg
  overflow: hidden

.neatline
  stroke: #ffffff

.axis
  stroke-width: 1.5
  .tick text, text.label
    font-family: "Helvetica Neue"
    font-weight: 400

text
  font-family: Gotham

text.run-label
  font-family: Gotham

.static-curve
  use
    stroke-width: 1
    stroke: #ddd
    fill: none
  text
    fill: #888
    font-family: Gotham
    font-weight: 300
    font-size: 8
    text-anchor: end

.heatflow-label
  font-size: 8px
  font-family: Gotham
  div
    font-weight: 300
    text-align: center
    color: #888
    sub, sup
      font-size: 0.6em

.heatflow-axis-label
  font-size: 8px

.model-curve
  &.continuing-subduction
    use
      stroke-width: 0.75
      stroke-opacity: 0.25
  use
    fill: none
    stroke-width: 1.5
    stroke-opacity: 0.7
    &.selected
      stroke-width: 2
      stroke-opacity: 1
  text
    font-family: Gotham
    alignment-baseline: bottom
    font-weight: bold
    tspan.subtitle
      font-weight: 300
  textPath
    font-size: 10

.axis
  text
    font-family: Gotham
    font-weight: 300
    fill: black
  &.x .label
    baseline-shift: -10px
  &.y .label
    baseline-shift: 8px

.neatline
  stroke-width: 1px

