#main
  background-color: white
  *
    box-sizing: border-box

#figure
  overflow: hidden

h1, h2, h3
  margin-top: 0
  margin-bottom: 0.2em

margin=0.2em

div.scenario, div.legend
  margin-top: 0.5em
  margin-left: margin
  float: left

xenoliths=rgb(145, 170, 95)
div.legend
  width: 85px
  margin-top: 60px
  margin-left: 1em
  h1
    padding-left: 0
    font-size: 0.8em
  .legend-main
    position: relative
  .label
    position: absolute
    font-size: 9px
    width: 50px
    left: 35px
    margin-top: 0.5em
    &.ck-source
      left: 40px
      width: 40px
      font-size: 8
      font-style: italic
      color: xenoliths
  svg.overlay
    position: absolute
    top: 0
    left: 0
    .leader
      stroke: xenoliths
      stroke-width: 1.5px

text
  font-family: Gotham, sans-serif
  font-weight: 500
  font-size: 10

.santa-lucia-label, .schist-label
  color: #444
  font-size: 6

.santa-lucia-label
  text-align: right

div
  font-family: Gotham, sans-serif

h1
  font-family: Gotham, sans-serif
  font-size: 16px
  padding-left: 6px
  font-weight: 400
  .subtitle
    font-weight: 200

.xaxis text
  font-size: 8
  baseline-shift: -1.2em
  text-anchor: middle
  fill: #666666
  font-weight: 300

.yaxis text
  font-weight: 300

head()
  font-weight: 300
  display: inline-block
  margin-bottom: 0.2em

.axis-labels
  h2
    head()
    text-transform: uppercase
    font-size: 10
    font-weight: 600

.age-labels
  h3
    font-size: 10
    head()
    margin-bottom: -0.1em

.axis
  .data
    textPath
      stroke: none
      font-weight: 500
      font-size: 7
      &.label.timestep
        font-weight: 500
      &.oc-age
        font-style: italic
        font-weight: 300
      &.slab-window-age
        font-style: italic
        font-weight: 500
        &.label
          font-weight: 300
      .label-subscript
        baseline-shift: sub
        font-size: 0.8em
    &.continuing-subduction
      use
        stroke-width: 1px
        //stroke-dasharray: 10 0.5


sub
  vertical-align: bottom
  position: relative
  top: 0.3em
