[submodule "modules/bib-filter"]
	path = modules/python/bib-filter
	url = git://github.com/davenquinn/bib-filter.git
[submodule "modules/figurator"]
	path = modules/python/figurator
	url = git://github.com/davenquinn/figurator.git
[submodule "modules/pdf-printer"]
	path = modules/node/pdf-printer
  url = git://github.com/davenquinn/pdf-printer.git
[submodule "d3-plot-area"]
	path = graphics/cooling-scenarios/d3-plot-area
  url = git://github.com/davenquinn/d3-plot-area.git
[submodule "graphics/modal-mineralogy"]
	path = graphics/modal-mineralogy
	url = git://github.com/davenquinn/crystal-knob-modal-mineralogy.git
