text
  font-family: Gotham

rect.backdrop
  fill: #eee

.y
  text
    text-anchor: middle
    fill: black
  text.label
    font-size: 9
    font-style: italic
  .tick text
    font-size: 8
    alignment-baseline: bottom
  &.temperature
    .tick text
      transform: rotate(-90deg) translate(5px, -8px)

text.annotation-note-title
  font-size: 12
  font-weight: 400

tspan
  &.sub
    alignment-baseline: hanging
    font-size: 0.65em
  &.normal
    font-style: normal

.system-label
  text-anchor: middle
  font-size: 10
  fill: #444

.sample-label
  font-size: 10
  alignment-baseline: middle
  transform: translate(3px, 0)
  &.CK-5
    transform: translate(3px, 6px)

.system-type-label
  font-size: 8
  font-style: italic
  fill: #666
  text-transform: uppercase
  font-weight: 500

#main
  background-color: white
