<div id="selection_type">
	<div class="onoffswitch">
	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
	    <label class="onoffswitch-label" for="myonoffswitch">
	        <div class="onoffswitch-inner"></div>
	        <div class="onoffswitch-switch"></div>
	    </label>
	</div>
</div>
<div id="single">
	<ul>
		<li>
			<span class="label">ID</span>
			<span class="id"></span>
		</li>
		<li>
			<span class="label">Sample</span>
			<span class="sample"></span>
		</li>
		<li><a class="map-link" href="#map">Map &raquo;</a>
	</ul>
	<div id="oxides">
	</div>
</div>
<div id="tag_manager">
</div>
<div id="multiple">
</div>