<div id="filter">
</div>

<form>
  <fieldset>
    <legend>Axes</legend>
    <div class="form-group">
      <label for="x-axis">X Axis</label>
      <input type="text" class="form-control" id="x-axis" value="oxides.MgO">
    </div>
    <div class="form-group">
      <label for="y-axis">Y Axis</label>
      <input type="text" class="form-control" id="y-axis" value="oxides.FeO">
    </div>
    <button type="button" class="axes btn btn-default">Change Axes</button>
  </fieldset>
</form>

<label for="colormap">Colormap</label>
<select name="colormap" class="form-control">
	<option value="oxide_total" selected>Oxide Totals</option>
	<option value="minerals">Minerals</option>
	<option value="samples">Samples</option>
	{{#each oxides}}
  	<option value="{{this}}">{{this}}</option>
  	{{/each}}
</select>