body
  max-width 50em
  margin 1em auto

*
 font-family: "Helvetica Neue", Helvetica, sans-serif

types()
  &.fixed
      border-left-color: lightgreen
  &.partial
      border-left-color: #fda
  &.rejected
      border-left-color: #f99

p
  padding 0.2em 0.5em 0.1em
  span
    display: block
    margin: 0.2em 0.5em
    font-style: italic
    padding 0.2em 0.5em 0.1em
    background-color #fff
    &:before
      content: "D Quinn"
      font-weight: bold
      font-size: 0.8em
      display: block


bkg1=#eeeeee
bkg0=#f3f3f3

p.comment
  background-color bkg0
  border-left-color bkg1
  &.r1:before
    content: "Reviewer 1"
  &.r2:before
    content: "Reviewer 2"
  &.r3:before
    content: "Reviewer 3"
  &:before
    font-weight: bold
    font-size: 0.8em
    display: block
  span
    margin-left: 0em
    border-left: 0.5em solid bkg0
    border-left-color: inherit
    types()
  types()


p.response
  &.r1:before
    content: "D Quinn → Reviewer 1"
  &.r2:before
    content: "D Quinn → Reviewer 1"
  &.r3:before
    content: "D Quinn → Reviewer 1"
  &:before
    font-weight: bold
    font-size: 0.8em
    display: block
  border-left: 0.3em solid bkg1
  margin-left: 0.2em
  types()

