*
 font-family: "Helvetica Neue", Helvetica, sans-serif

bkg1=#eeeeee
bkg0=#f3f3f3

body
  max-width 50em
  margin 1em auto
  border-left-color: bkg0

types()
  &.fixed
      border-left-color: lightgreen
  &.partial
      border-left-color: #fda
  &.rejected
      border-left-color: #f99

response()
  types()
  font-style: italic
  margin-left: 0em
  border-left: 0.5em solid bkg0
  border-left-color: inherit
  &:before
    content: "D Quinn"
    font-weight: bold
    font-size: 0.8em
    display: block

p
  padding 0.2em 0.5em 0.1em
  span
    response()
    display: block
    margin: 0.2em 0.5em
    padding 0.2em 0.5em 0.1em
    background-color #fff

div.group
  background-color: bkg0
  p.response
    response()
    margin: 0.2em 0.5em
    margin-bottom 0.2em
    padding 0.2em 0.5em 0.1em
    background-color #fff

p.comment
  background-color bkg0
  border-left-color bkg1
  &.r1:before
    content: "Reviewer 1"
  &.r2:before
    content: "Reviewer 2"
  &.r3:before
    content: "Reviewer 3"
  &:before
    font-weight: bold
    font-size: 0.8em
    display: block
  span
    response()
  types()


p.response
  response()
  &.r1:before
    content: "D Quinn → Reviewer 1"
  &.r2:before
    content: "D Quinn → Reviewer 1"
  &.r3:before
    content: "D Quinn → Reviewer 1"

