text
  font-family: "Gotham", sans-serif

.monterey-plate.annotation
  font-size: 8
  font-style: italic
  text-anchor: middle

.u-scale
  text
    font-size: 7
    fill: #888888

.x.axis
  .label
    fill: black

.oc-age, .oc-age-label
  font-size: 6
  font-style: italic

.tick text
  font-size: 8.5
  font-weight: 500

.axes .tick text
  font-size: 7.5

.legend
  text
    fill: #444
    font-size: 8
    font-weight: 300
  text.title
    font-weight: bold
  line
    stroke: #444
    stroke-width: 1
