text
  font-family: "Gotham", sans-serif

.monterey-plate.annotation
  font-size: 8
  font-style: italic
  text-anchor: middle

.u-scale
  text
    font-size: 7
    fill: #888888

.x.axis
  .label
    fill: black

