text
  font-family: "Gotham", sans-serif

#main
  background-color: white

.monterey-plate.annotation
  font-size: 10
  font-style: italic
  text-anchor: middle

.u-scale
  text, .tick text
    font-size: 7
    fill: #888888
    font-weight: 500
  .axis-label
    text-anchor: start
    transform: translate(-5px, 0)
    font-weight: 400

.model-run
  path.tracer
    stroke-width: 1px
  &.continuing-subduction
    path.tracer
      stroke-width: 0.5px
      stroke-opacity: 0.5
    path
      fill-opacity: 0.3

.x.axis
  .label
    fill: black

.oc-age, .oc-age-label
  font-size: 7
  font-style: italic

.tick text
  font-size: 9
  font-weight: 300

.axes .tick text
  font-size: 8

text.title
  font-size: 15
  font-weight: 300
  .subfig-index
    font-weight: 500
  .subtitle
    font-weight: 200

.legend
  text
    fill: #444
    font-size: 8
    font-weight: 300
  text.title
    font-weight: bold
  line
    stroke: #444
    stroke-width: 1
