/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 2, ../../_styles/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Table
 */
/* line 5, ../../_styles/_datatables.scss */
table.dataTable {
  margin: 0 auto;
  clear: both;
  width: 100%;
}

/* line 11, ../../_styles/_datatables.scss */
table.dataTable thead th {
  padding: 3px 18px 3px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  *cursor: hand;
}

/* line 19, ../../_styles/_datatables.scss */
table.dataTable tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}

/* line 25, ../../_styles/_datatables.scss */
table.dataTable td {
  padding: 3px 10px;
}

/* line 30, ../../_styles/_datatables.scss */
table.dataTable td.center,
table.dataTable td.dataTables_empty {
  text-align: center;
}

/* line 34, ../../_styles/_datatables.scss */
table.dataTable tr.odd {
  background-color: #E2E4FF;
}

/* line 35, ../../_styles/_datatables.scss */
table.dataTable tr.even {
  background-color: white;
}

/* line 37, ../../_styles/_datatables.scss */
table.dataTable tr.odd td.sorting_1 {
  background-color: #D3D6FF;
}

/* line 38, ../../_styles/_datatables.scss */
table.dataTable tr.odd td.sorting_2 {
  background-color: #DADCFF;
}

/* line 39, ../../_styles/_datatables.scss */
table.dataTable tr.odd td.sorting_3 {
  background-color: #E0E2FF;
}

/* line 40, ../../_styles/_datatables.scss */
table.dataTable tr.even td.sorting_1 {
  background-color: #EAEBFF;
}

/* line 41, ../../_styles/_datatables.scss */
table.dataTable tr.even td.sorting_2 {
  background-color: #F2F3FF;
}

/* line 42, ../../_styles/_datatables.scss */
table.dataTable tr.even td.sorting_3 {
  background-color: #F9F9FF;
}

/*
 * Table wrapper
 */
/* line 48, ../../_styles/_datatables.scss */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
}

/*
 * Page length menu
 */
/* line 58, ../../_styles/_datatables.scss */
.dataTables_length {
  float: left;
}

/*
 * Filter
 */
/* line 66, ../../_styles/_datatables.scss */
.dataTables_filter {
  float: right;
  text-align: right;
}

/*
 * Table information
 */
/* line 75, ../../_styles/_datatables.scss */
.dataTables_info {
  clear: both;
  float: left;
}

/*
 * Pagination
 */
/* line 84, ../../_styles/_datatables.scss */
.dataTables_paginate {
  float: right;
  text-align: right;
}

/* Two button pagination - previous / next */
/* line 93, ../../_styles/_datatables.scss */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #111111 !important;
}

/* line 103, ../../_styles/_datatables.scss */
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
  text-decoration: none !important;
}

/* line 109, ../../_styles/_datatables.scss */
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
  outline: none;
}

/* line 114, ../../_styles/_datatables.scss */
.paginate_disabled_previous,
.paginate_disabled_next {
  color: #666666 !important;
}

/* line 118, ../../_styles/_datatables.scss */
.paginate_disabled_previous,
.paginate_enabled_previous {
  padding-left: 23px;
}

/* line 122, ../../_styles/_datatables.scss */
.paginate_disabled_next,
.paginate_enabled_next {
  padding-right: 23px;
  margin-left: 10px;
}

/* line 127, ../../_styles/_datatables.scss */
.paginate_enabled_previous {
  background: url("../images/back_enabled.png") no-repeat top left;
}

/* line 128, ../../_styles/_datatables.scss */
.paginate_enabled_previous:hover {
  background: url("../images/back_enabled_hover.png") no-repeat top left;
}

/* line 129, ../../_styles/_datatables.scss */
.paginate_disabled_previous {
  background: url("../images/back_disabled.png") no-repeat top left;
}

/* line 131, ../../_styles/_datatables.scss */
.paginate_enabled_next {
  background: url("../images/forward_enabled.png") no-repeat top right;
}

/* line 132, ../../_styles/_datatables.scss */
.paginate_enabled_next:hover {
  background: url("../images/forward_enabled_hover.png") no-repeat top right;
}

/* line 133, ../../_styles/_datatables.scss */
.paginate_disabled_next {
  background: url("../images/forward_disabled.png") no-repeat top right;
}

/* Full number pagination */
/* line 136, ../../_styles/_datatables.scss */
.paging_full_numbers {
  height: 22px;
  line-height: 22px;
}

/* line 140, ../../_styles/_datatables.scss */
.paging_full_numbers a:active {
  outline: none;
}

/* line 143, ../../_styles/_datatables.scss */
.paging_full_numbers a:hover {
  text-decoration: none;
}

/* line 148, ../../_styles/_datatables.scss */
.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
  color: #333333 !important;
}

/* line 160, ../../_styles/_datatables.scss */
.paging_full_numbers a.paginate_button {
  background-color: #ddd;
}

/* line 164, ../../_styles/_datatables.scss */
.paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none !important;
}

/* line 169, ../../_styles/_datatables.scss */
.paging_full_numbers a.paginate_active {
  background-color: #99B3FF;
}

/*
 * Processing indicator
 */
/* line 177, ../../_styles/_datatables.scss */
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #dddddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}

/*
 * Sorting
 */
/* line 197, ../../_styles/_datatables.scss */
.sorting {
  background: url("../images/sort_both.png") no-repeat center right;
}

/* line 198, ../../_styles/_datatables.scss */
.sorting_asc {
  background: url("../images/sort_asc.png") no-repeat center right;
}

/* line 199, ../../_styles/_datatables.scss */
.sorting_desc {
  background: url("../images/sort_desc.png") no-repeat center right;
}

/* line 201, ../../_styles/_datatables.scss */
.sorting_asc_disabled {
  background: url("../images/sort_asc_disabled.png") no-repeat center right;
}

/* line 202, ../../_styles/_datatables.scss */
.sorting_desc_disabled {
  background: url("../images/sort_desc_disabled.png") no-repeat center right;
}

/* line 205, ../../_styles/_datatables.scss */
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}

/*
 * Scrolling
 */
/* line 213, ../../_styles/_datatables.scss */
.dataTables_scroll {
  clear: both;
}

/* line 217, ../../_styles/_datatables.scss */
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

/* line 1, ../../_styles/_table.scss */
tr, td {
  min-width: 40px;
}

/*
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}



table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}*/
/* line 16, ../../_styles/screen.scss */
html, body {
  box-sizing: border-box;
  font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

/* line 23, ../../_styles/screen.scss */
#map {
  height: 100%;
  position: relative;
}

/* line 28, ../../_styles/screen.scss */
#wrap {
  margin: 20px auto;
  max-width: 1100px;
}

/* line 33, ../../_styles/screen.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 1, ../../_styles/_plots.scss */
body {
  padding: 0px;
}

/* line 5, ../../_styles/_plots.scss */
#content {
  overflow: hidden;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

/* line 11, ../../_styles/_plots.scss */
#map {
  height: 100%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
}
/* line 54, ../../_styles/neat/grid/_span-columns.scss */
#map:last-child {
  margin-right: 0;
}
/* line 14, ../../_styles/_plots.scss */
#map svg .dot {
  fill-opacity: 1.0;
}

/* line 19, ../../_styles/_plots.scss */
svg .dot.selected {
  stroke: #555;
  stroke-width: 2px;
}
/* line 20, ../../_styles/_plots.scss */
svg .dot.selected:hover {
  stroke: #333;
}

/* line 27, ../../_styles/_plots.scss */
#chart {
  height: 100%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
}
/* line 54, ../../_styles/neat/grid/_span-columns.scss */
#chart:last-child {
  margin-right: 0;
}

/* line 32, ../../_styles/_plots.scss */
#data {
  height: 100%;
  padding: 10px;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
}
/* line 54, ../../_styles/neat/grid/_span-columns.scss */
#data:last-child {
  margin-right: 0;
}

/* line 38, ../../_styles/_plots.scss */
rect {
  fill: #eee;
}

/* line 42, ../../_styles/_plots.scss */
.axis path, .axis line {
  fill: none;
  stroke: #fff;
}

/* line 47, ../../_styles/_plots.scss */
.label, .value {
  display: block;
}

/* line 50, ../../_styles/_plots.scss */
.label {
  font-size: .8em;
}
