#tag-filter {
	a {
		font-size: 0.9em;
		background-color: #dddddd;
		color: #333333;
		padding: 2px;
		@include border-radius(2px);
		margin-right: 10px;
	}
	ul {
		list-style: none;
		@include clearfix;
		padding-left: 0;
		li {
			@include border-radius(3px);
			font-size: 12px !important;
			padding: 2px 3px 1px 3px;
			margin-right: 3px;
			margin-bottom: 3px;
			float: left;
			background-color: #cccccc;
			cursor: pointer;
			&.include {
				background-color: #87b4f8;
			}
			&.exclude {
				background-color: lighten(red, 40%);
			}
			user-select: none;
		}
	}
}


