/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "lib/bourbon/bourbon";
@import "lib/neat/neat";

$FontAwesomePath: "/static/lib/font-awesome";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-compass';
@import "lib/datatables";
//@import "lib/jquery_simple_slider";
@import "compass";
@import "compass/utilities/general/clearfix";
@import "table";
@import "plots";
@import "lib/switch";
@import "lib/toggle";

$max-width: 100%;

* {
	box-sizing: border-box;
}

html, body {
	font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0;
	position: relative;
	overflow: hidden;
}

#header {
	padding: 10px 20px;
	h1 {
		margin: 0 0 0 0;
		font-size: 1.2em;
	}
}

#wrap {
	margin: 20px auto;
	max-width: 1100px;
}

ul.links {
	list-style: none;
	padding-left: 0;
	font-size: 1.4em;
}

#main {
	@include fill-parent;
	height: 100%;
	@include span-columns(9);
	//width: 75%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	&>div{
		height: 100%;
	}
}

#chart {
	svg {
		text.label {
			font-size: 15px;
		}
	}
}

#sidebar {
	padding-top: 10px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	max-height: 100%;
	padding: 30px;
	padding-left: 0;
	@include fill-parent;
	@include span-columns(3);
	@include omega();
	h1 {
		margin-top: 0;
		font-size: 1.5em;
	}
	#tabs {
		position: relative;
		height: 100%;
		&>div {
			width: 100%;
			position: relative;
			overflow-y: scroll;
			height: 100%
		}
		pre {
			display: block;
			overflow-y: scroll
		}
	}
}

@mixin label {
	display: block;
	color: #666;
	font-weight: 600;
	font-size: .6em;
	text-transform: uppercase;
	padding-left: 0;
	text-align: left;
	margin-top: 0;
}

h3.label {
	font-size: 13px !important;
	@include label;
	background-color: none;
	background: none;
	margin-bottom: 4px;
}
#selection_type {
	margin-bottom: 10px;
}

#tag_manager {
	.form-control {
		width: 80%;
	}
}

#tag_field {
	list-style: none;
	@include clearfix;
	padding-left: 0;
	li {
		@include border-radius(3px);
		font-size: 14px !important;
		padding: 2px 4px 1px 4px;
		margin-right: 3px;
		margin-bottom: 3px;
		float: left;
		i {
			margin-left: 5px;
		}
		&.some {
			background-color: #cccccc;
		}
		&.all {
			background-color: #87b4f8;
		}
	}
}

#tag-filter {
	a {
		font-size: 0.9em;
		background-color: #dddddd;
		color: #333333;
		padding: 2px;
		@include border-radius(2px);
		margin-right: 10px;
	}
	ul {
		list-style: none;
		@include clearfix;
		padding-left: 0;
		li {
			@include border-radius(3px);
			font-size: 12px !important;
			padding: 2px 3px 1px 3px;
			margin-right: 3px;
			margin-bottom: 3px;
			float: left;
			background-color: #cccccc;
			cursor: pointer;
			&.include {
				background-color: #87b4f8;
			}
			&.exclude {
				background-color: lighten(red, 40%);
			}
			user-select: none;
		}
	}
}


.navbar {
	margin-bottom: 10px;
}

#tabs {
	#data {
		ul.info {
			padding-left: 0;
			list-style: none;
			@include clearfix;
			li {
				margin-left: 0;
				line-height: 24px;
				font-size: 22px;
				clear: both;
				display: block;
				float: left;
				clear: none;
				min-width: 60px;
				span {
					&.label {
						@include label;
					}
					background-color: inherit;
					background: inherit;
				}
				a {
					font-size: .8em;
					line-height: 40px;
					margin-left: 20px;
				}
			}
		}
	}
}

#oxides {
	margin-bottom: -15px;
	margin-top: -10px;
}

#tag_manager {
	#tag_field {
		li {
			cursor: pointer;
		}
		min-height: 26px;
		margin-bottom: 5px;
	}
	h3 {
		margin-top: 0;
	}
}

.clearfix {
	@include clearfix;
}
