#sidebar {
	padding-top: 10px;
	height: 100vh;
  width: 20%;
  min-width: 25em;
  display: flex;
  flex-direction: column;
	padding: 1em;
	h1 {
		margin-top: 0;
    margin-bottom: 1em;
		font-size: 1.5em;
	}
	#tabs {
    flex-grow: 1;
    overflow-y: scroll;
		position: relative;
	}
}
