<div id="wrap">
	<h1>Microprobe Data for Xenoliths</h1>
	<h2>Daven Quinn</h2>

	<p>This application allows the inspection and tagging of electron microprobe data for samples gathered at Crystal Knob, in the Salinian Block.</p>

	<h2>Modes</h2>
	<ul class="links">
		<li><a href="#map">Map</a></li>
		<li><a href="#chart">Chart</a></li>
		<li><a href="#classify">Classify</a></li>
	</ul>
	<h4>Tips</h4>
	<p>To select points for detailed analysis (in any of the modes above), simply click the point. For multiple selections, hold down the shift key and roll over points to add to the collection.</p>
</div>